@tailwind base;
@tailwind components;
@tailwind utilities;


body, html, #root{
    height: 100%;
    width: 100%;
}

section#blog, section#projects, section#about, section#homePage, section#blogEntry, section#contact{
    view-transition-name: pageTransition;
}

::view-transition-old(pageTransition) {
    animation: fade-and-scale-out 0s ease-in-out 0s forwards;
}
::view-transition-new(pageTransition) {
    animation: fade-and-scale-in .3s ease-in-out 0s forwards;
}

@keyframes fade-and-scale-in {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fade-and-scale-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}